
body{
    display: flex;
    flex-wrap: wrap;
}

/*
示例1  绘制字母 i
*/
.dot{
    width:50px;
    height:50px;
    background-color: orange;
    border-radius: 50%;
    margin-bottom: 10px;
}
.rectangle{
    width: 50px;
    height: 100px;
    background-color: gold;
    border-radius: 10px;
}

/***********
示例5 红绿灯 类选择器练习
*************/
.traffic-lights{
    background-color: silver;
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.light{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}
.red{background-color: coral;}
.yellow{background-color: gold;}
.green{background-color: lightgreen;}


/***********
示例6 一棵简单的树
*************/
.tree{
    width: 30px;
    height: 300px;
    background-color: saddlebrown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tree .branch{
    width: 160px;
    height: 20px;
    background-color: peru;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    transform: rotate(-30deg);
}
.tree .branch .leaf{
    width: 40px;
    height: 40px;
    border-radius: 100% 0 100% 0;
    background-color: green;
    transform: translateY(-100%);
}

/***********
示例7 杨辉三角  练习选择第一个和最后一个
:first-child   第一个元素
:last-child    最后一个元素
*************/
.triangle{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.triangle div{
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.triangle div span{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: lightgreen;
    border-radius: 50%;
}
.triangle div span:first-child,
.triangle div span:last-child{
    background-color: lightcoral;
}

/**********
示例8 绘制木色背景棋盘 练习奇偶选择
:nth-child(odd)   偶数选择
:nth-child(even)  奇数选择
**************/
.chessboard{
    width: 400px;
    background-color: burlywood;
    border: 10px solid darkgray;
}
.chessboard div{
    display: flex;
}
.chessboard div span{
    width: 100px;
    height: 100px;
}
.chessboard div:nth-child(odd) span:nth-child(even),
.chessboard div:nth-child(even) span:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.3);
}

/***********
示例9  用:nth-child(an+b)选择器，绘制的效果
an+b n从0开始的自然数
     选中元素的下标从1开始
*************/
.demo109{
    display: flex;
    justify-content: space-between;
}
.demo109 div{
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 50%;
    margin: 4px;
}
.demo109:nth-child(2) div:nth-child(0n+7){
    background-color: orange;
}
.demo109:nth-child(3) div:nth-child(1n+3){
    background-color: orange;
}
.demo109:nth-child(4) div:nth-child(2n+1){
    background-color: orange;
}
.demo109:nth-child(5) div:nth-child(2n+0){
    background-color: orange;
}
.demo109:nth-child(6) div:nth-child(5n){
    background-color: orange;
}
.demo109:nth-child(7) div:nth-child(6n+3){
    background-color: orange;
}

/************
示例10 使用not伪类 排出非素数 选出素数
:not()伪类用于排除掉一些元素
************/
.prime-numbers{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    counter-reset: n;
}
.prime-numbers div{
    counter-increment: n;
    position: relative;
    width: 30px;
    height: 30px;
}
.prime-numbers div::before{
    content: counter(n);
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: lightgreen;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.prime-numbers div:nth-child(2)::before,
.prime-numbers div:nth-child(3)::before,
.prime-numbers div:nth-child(5)::before,
.prime-numbers div:nth-child(7)::before,
.prime-numbers div:not(:nth-child(1)):not(:nth-child(2n)):not(:nth-child(3n)):not(:nth-child(5n)):not(:nth-child(7n))::before{
    background-color: orange;
}


/************
示例11 为类选择器hover  鼠标悬停状态不同
transition 缓慢效果 第9章讲解
transform  变形     第8章讲解
************/
.word {
    display: flex;
}
.word div{
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 50%;
    color: darkgreen;
    border: 1px dashed;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    line-height: 50px;
    transition: 0.5s 0.4s ease-out;
}
.word div:hover {
    background-color: gold;
    transform: scale(1.5);
    transition: 0.5s ease-out;
}

/*
示例12 绘制放大镜 练习长度单位px
示例12 绘制放大镜 练习长度单位em
*/
.magnifier{
    position: relative;
    color: dodgerblue;
    font-size: 5px;
}
.lens {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 1em solid;
    border-radius: 50%
}
.handle {
    position: absolute;
    width: 2em;
    height: 10em;
    border-radius: 0 0 1em 1em;
    background-color: currentColor;
    left: 10em;
    top: 10em;
    transform: rotate(-45deg);
    transform-origin: top;
}


/*
示例14: 四季显示  练习各种颜色
*/
.seasons{
    width: 20em;
    height: 20em;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
}

.seasons div{
    border: 0.1em solid gray;
    text-align: center;
    line-height: 6em;
    font-size: 1.5em;
    color: black;
}

.seasons div:nth-child(3){
    order: 4;
}
.seasons div:nth-child(1){border-radius: 100% 0 0 0;}
.seasons div:nth-child(2){border-radius: 0 100% 0 0;}
.seasons div:nth-child(3){border-radius: 0 0 100% 0;}
.seasons div:nth-child(4){border-radius: 0 0 0 100%;}

.seasons div:nth-child(1){background-color: springgreen;}
.seasons div:nth-child(2){background-color: #ff4500;}
.seasons div:nth-child(3){background-color: rgb(255,215,0);}
.seasons div:nth-child(4){background-color: hsla(195, 100%, 50%);}


/*
示例15: 相互交叉颜色叠加  透明度alpha
*/

.hashtag{
    width: 10em;
    height: 10em;
    position: relative;
}
.hashtag div{
    position: absolute;
    background-color: blue;
}
.hashtag div:nth-child(odd){
    width: 20%;
    height: 100%;
}
.hashtag div:nth-child(even){
    width: 100%;
    height: 20%;
}

.hashtag div:nth-child(1){ left: 10%; }
.hashtag div:nth-child(2){ top: 10%; }
.hashtag div:nth-child(3){ right: 10%; }
.hashtag div:nth-child(4){ bottom: 10%; }

.hashtag div:nth-child(1){ background-color: hsla(197, 71%, 73%, 0.8); }
.hashtag div:nth-child(2){ background-color: hsla(300, 47%, 75%, 0.8); }
.hashtag div:nth-child(3){ background-color: hsla(0, 79%, 72%, 0.8); }
.hashtag div:nth-child(4){ background-color: hsla(28, 100%, 86%, 0.8); }

/*
示例16: 盒模型练习 内联盒模型
*/
.boxTest{
    background-color: moccasin;
    display: flex;
}
.boxTest .box{
    font-size: 20px;
    width: 10em;
    height: 6em;
    background-color: mediumaquamarine;
    padding: 1em;
    border: 1em solid lightyellow;
    margin: 2em;
}
.boxTest .box .inner{
    background-color: steelblue;
    width: 100%;
    height: 100%;
}

.boxTest .box:nth-child(1){box-sizing: content-box;}
.boxTest .box:nth-child(2){box-sizing: border-box;}


